/**Start of Body Section**/
body{background: #ee9ca7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ffdde1, #ee9ca7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ffdde1, #ee9ca7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-left: 20px;
}
/**End of Body Section**/


/**Start of Header Section**/
.header{
    border-bottom: 5px dotted;
    text-align: center;
}

.header h1{
    font-size: 45px;
    margin-bottom: 5px;
}

.header img{
    border:dotted;
}
/**End of Header Section**/


/**Start of Experience Section**/
.experience{
    padding-top: 30px;
    text-align: left;
    text-decoration: underline;
    text-transform: uppercase;   
}

.listed-exp h3{
    padding:10px;
}

.listed-exp ul li{
    font-size:20px;
}



.code-savvy{
    color: darkviolet;
    font-weight: bold;    
}

.ozobots {
   font-weight:bold;  
   color:darkviolet;
}

.microbits{
    font-weight: bold;
    color:darkviolet;
    
}
/**End of Experience Section**/


/**Start of Related Section**/
.related h2{
    padding-top: 30px;
    text-align: left;
    text-decoration: underline;
    text-transform: uppercase;    
}

.related ul li{
    font-size: 20px;
    list-style:none;
    margin-left: -20px;
}
/**End of Related Section**/


/**Start of Education Section**/
.education{
    padding-top: 30px;
    text-align: left;
    text-decoration:underline ;
    text-transform: uppercase; 
}

.listed-ed ul li{
    font-size: 20px;
    list-style:none;
    margin-left: -20px;
    text-align: left;  
      
}
/**Start of Education Section**/


/**Start of Footer Section**/
.footer{
    background-color: #ee9ca7;    
    bottom:0;
    width: 100%;    
}

.footer ul{
    text-align: center;   
}

.footer ul li{
    display: inline-block;
    margin:0.75rem 1rem;
}

.fa-phone{
    padding:.5rem;
}

.fa-envelope{
    padding:.5rem;
}

.fa-print{
    padding:.5rem;
}

.footer button{
    background-color: #ee9ca7; 
}
/**End of Footer Section**/
